<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/oauth.css">
</head>
<body>
<div class="container">
    <div class="form-container">
        <h1 class="text-center mb-4">로그인</h1>

        <form th:action="@{/login}" method="post">
            <div class="form-group">
                <label for="username">이메일</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="사용자 이름" required>
            </div>
            <div class="form-group">
                <label for="password">비밀번호</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="비밀번호" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">로그인</button>
        </form>

        <!-- 카카오 로그인 버튼 -->
        <div class="oauth-button-container">
            <a th:href="${location}">
                <img src="/img/kakao.png" alt="카카오 로그인" />
            </a>
        </div>
        <div class="oauth-button-container">
            <a th:href="${location}">
                <img src="/img/naver.png" alt="네이버 로그인" />
            </a>
        </div>
        <div class="oauth-button-container">
            <a href="/oauth2/authorization/google">
                <img src="/img/google.png" alt="구글 로그인" />
            </a>
        </div>

        <div class="text-center mt-3">
            <p>계정이 없으신가요? <a href="/signupForm">회원가입</a></p>
        </div>
    </div>
</div>
</body>
</html>
